Repository bjpl/learn_comptia_network_plus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

fix: update husky pre-commit hook for v10 compatibility
  .husky/pre-commit
Due: none

fix: resolve TypeScript errors and add immer dependency
  package-lock.json
  package.json
  src/components/cloud/stores/cloudDesignerStore.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

security: fix all code scanning vulnerabilities
  backend/src/controllers/assessment.controller.ts
  backend/src/controllers/auth.controller.ts
  backend/src/controllers/progress.controller.ts
  backend/src/middleware/auth.middleware.ts
  backend/src/models/progress.model.ts
  backend/src/models/user.model.ts
  backend/src/services/email.service.ts
  backend/src/utils/sanitizer.ts
  src/utils/security.ts
  tests/integration/api-integration.test.ts
  tests/integration/navigation.test.tsx
  tests/unit/cloud/CloudArchitectureDesigner.test.tsx
  tests/unit/media/MediaSelectionMatrix.test.tsx
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

chore: update GitHub Actions to latest versions
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yml
  .github/workflows/lighthouse.yml
  .github/workflows/test-matrix.yml
Due: none

chore(deps): update safe dependencies
  package.json
Due: prettier --write --cache

feat: complete major dependency migrations
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .eslintrc.json
  eslint.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/index.css
  tailwind.config.js
Due: prettier --write --cache

chore: add package-lock.json for CI
  package-lock.json
Due: prettier --write --cache

fix: remove agentdb dependency causing Invalid Version error
  package-lock.json
  package.json
Due: prettier --write --cache

fix: resolve CI failures - ESLint errors and Node.js version
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .github/workflows/ci.yml
  eslint.config.js
  package.json
  src/components/appliances/DeviceDecisionHelper.tsx
  src/components/appliances/NetworkSimulator.tsx
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

fix: improve TypeScript compatibility in assessment components
  src/components/assessment/QuizEngine.tsx
  src/components/assessment/ScenarioSimulator.tsx
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

fix: make pre-commit hooks resilient to WSL node_modules issues
  .husky/pre-commit
Due: none

fix: resolve TypeScript errors for deployment
  src/components/assessment/QuizEngine.tsx
  src/components/assessment/ScenarioSimulator.tsx
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

test: add comprehensive QuizEngine unit tests
  tests/unit/assessment/QuizEngine.test.tsx
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

chore: update test reports and dependencies
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  package-lock.json
  tests/reports/assets/index-CfDzoXo3.js
  tests/reports/assets/index-DlhE0rqZ.css
  tests/reports/html.meta.json.gz
  tests/reports/test-results.html
  tests/reports/test-results.json
Due: prettier --write --cache

test: add ProtectedRoute tests and auth test utilities
  tests/helpers/auth-test-utils.ts
  tests/unit/components/auth/ProtectedRoute.test.tsx
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

test: add ActiveSessions component tests
  tests/unit/components/auth/ActiveSessions.test.tsx
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

test: add LoginForm component tests
  tests/unit/components/auth/LoginForm.test.tsx
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

test: add RegisterForm component tests (57 tests)
  tests/unit/components/auth/RegisterForm.test.tsx
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

test: add TwoFactorSetup component tests (57 tests)
  tests/unit/components/auth/TwoFactorSetup.test.tsx
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

test: add UserProfile component tests (62 tests)
  tests/unit/components/auth/UserProfile.test.tsx
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

chore: update test reports
  tests/reports/assets/index-DlhE0rqZ.css
  tests/reports/html.meta.json.gz
  tests/reports/test-results.json
Due: prettier --write --cache

fix: resolve TypeScript import and export conflicts
  .claude-flow/metrics/system-metrics.json
  .swarm/memory.db
  src/components/cloud/CloudSummaryBuilder/hooks/useCloudServices.ts
  src/components/modern/IPv6Planner.tsx
  src/components/protocols/hooks/useScanState.ts
  src/components/topologies/TopologyBuilder.tsx
  src/components/topologies/builder/TopologyBuilderRefactored.tsx
  src/components/topologies/builder/components/ConnectionManager.tsx
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

fix: resolve all 21 TypeScript errors
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  src/components/media/ConnectorIdentification/components/ConnectorDetails.tsx
  src/components/media/ConnectorIdentification/hooks/useConnectorState.ts
  src/components/osi/PacketJourneySimulator/components/AnimationControls.tsx
  src/components/osi/PacketJourneySimulator/components/HexDumpView.tsx
  src/components/protocols/PortProtocolTrainer/hooks/useQuizEngine.ts
  src/components/topologies/TopologyAnalyzerEnhanced/index.tsx
  src/components/topologies/builder/TopologyBuilderRefactored.tsx
  src/components/topologies/builder/components/ConnectionManager.tsx
  src/components/topologies/builder/hooks/useBuilderState.ts
  src/components/topologies/builder/index.tsx
  src/components/topologies/hooks/useBuilderState.ts
  src/types/network.types.ts
  src/utils/totp.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

feat: enable GitHub Pages deployment and add portfolio optimization strategy
  .github/workflows/deploy.yml
  docs/IMMEDIATE_ACTIONS.md
  docs/PORTFOLIO_STRATEGY.md
Due: prettier --write --cache

feat: add Network+ learning skill and comprehensive analysis reports
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/skills/network-plus-learning/SKILL.md
  README.md
  coverage-output.txt
  docs/ARCHITECTURE_EVALUATION.md
  docs/CODE_QUALITY_ANALYSIS.md
  docs/COMPREHENSIVE_ARCHITECTURE_REVIEW.md
  docs/OPTIMIZATION_CODE_EXAMPLES.md
  docs/PERFORMANCE_ANALYSIS_REPORT.md
  docs/PERFORMANCE_OPTIMIZATION_REPORT.md
  docs/PERFORMANCE_QUICK_WINS.md
  docs/SECURITY_AUDIT_REPORT.md
Due: prettier --write --cache

fix: resolve WCAG AA text contrast accessibility issues in dark mode
  src/components/osi/LayerExplanationBuilder/components/Header.tsx
  src/components/osi/LayerExplanationBuilder/components/LayerCard.tsx
  src/components/osi/LayerExplanationBuilder/components/QuizMode.tsx
  src/components/osi/LayerExplanationBuilder/components/RealWorldExamples.tsx
  src/components/osi/PacketJourneySimulator/components/AnimationControls.tsx
  src/components/osi/PacketJourneySimulator/components/MTUView.tsx
  src/components/osi/PacketJourneySimulator/components/TCPFlagsView.tsx
  src/components/osi/TroubleshootingScenariosEnhanced/components/ModeToggle.tsx
  src/components/osi/TroubleshootingScenariosEnhanced/components/NavigationTabs.tsx
  src/components/osi/TroubleshootingScenariosEnhanced/components/ScenarioNavigationGrid.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/components/ui/textarea.tsx
  src/index.css
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

fix: enable mock API for production/static deployments
  src/config/api-config.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

fix: resolve all GitHub Actions Test Matrix workflow failures
  .github/workflows/test-matrix.yml
  .lighthouserc.json
  package.json
  playwright.config.ts
  tests/e2e/accessibility.spec.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

fix: resolve all test failures for Test Matrix workflow
  src/components/assessment/QuizEngine/components/SetupScreen.tsx
  src/hooks/useScoring.ts
  src/router.tsx
  src/utils/security/sanitizer.ts
  src/utils/validation.ts
  tests/integration/routing.test.tsx
  tests/reports/html.meta.json.gz
  tests/reports/test-results.json
  tests/unit/assessment/QuizEngine.test.tsx
  tests/unit/cloud/CloudArchitectureDesigner.test.tsx
  tests/unit/components/App.test.tsx
  tests/unit/components/ErrorBoundary.test.tsx
  tests/unit/components/auth/LoginForm.test.tsx
  tests/unit/components/auth/ProtectedRoute.test.tsx
  tests/unit/components/auth/RegisterForm.test.tsx
  tests/unit/components/auth/UserProfile.test.tsx
  tests/unit/contexts/ProgressContext.test.tsx
  tests/unit/hooks/hooks.test.tsx
  tests/unit/protocols/PortProtocolTrainer.test.tsx
  tests/unit/services/services.test.ts
  tests/unit/utils/sanitizer.test.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/, prettier --write --cache

Path conditions:
  eslint --fix --cache --cache-location node_modules/.cache/eslint/: any of: *.{ts,tsx}
  prettier --write --cache: (any of: *.{ts,tsx}) or (any of: *.{json,css,md})
